<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Home Page</title>
</head>

<body>

    <!-- header start -->
<header>
    <div class="nav-area-container">
        <ul class="nav-area">
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">service</a></li>
            <li><a href="#">barber</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </div>
        <div class="welcome-text">
            <h3>being a barber is about taking care of people </h3>
            <button class="btn" type="submit" name="appointment"> Appointment </button>
        </div>    
</header>
    <!-- header end -->

    <!-- ====================================================== -->

    <!-- about us start -->
<div class="about-us-container">
    <div class="img-container">
        <div class="img">
            
        </div>
    </div>
        <div class="abou-us-right">
            <div class="about-us-text">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut nemo adipisci ducimus vero facilis
                     voluptatem illum nisi ipsam officia atque labore quam,
                  
                    !</p>
            </div>
            <div class="opening-hour">
                <h1>Opening Hour</h1>
                <div class="hours">
                <p> Saturday: 10::00 am - 10:00 pm <br>
                    Sunday: 10::00 am - 10:00 pm <br>
                    Monday: 10::00 am - 10:00 pm <br>
                    Tusday: 10::00 am - 10:00 pm <br>
                    Wendsday: 10::00 am - 10:00 pm <br>
                    Friday: 10::00 am - 10:00 pm <br>
                </p>
            </div>
            </div>
        </div>
</div>
    <!-- about us end -->

    <br>
    <br>
    <h1>Our service</h1>
    <br>


    <div class="container">
        <div class="item">
            <img class="barberimg" src="images/slider1.jpg" alt="barber">
            <h1>Smooth Shave </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae omnis quae, perferendis beatae,
                rerum natus esse asperiores sit non dolor, nulla eligendi nesciunt architecto odit itaque
                temporibus ducimus. Perferendis, magnam.<br>
            <p class="price"><strong>Price : 50€</strong></p>
            </p>
        </div>

        <div class="item">
            <img src="images/slider1.jpg" alt="barber">
            <h1>Smooth Shave </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam libero minima eos recusandae atque
                adipisci magni ducimus praesentium ipsum rem obcaecati,
                nam earum blanditiis distinctio velit sequi temporibus numquam. Totam. <br>
            <p class="price"><strong>Price : 50€</strong></p>
            </p>
        </div>

        <div class="item">
            <img src="images/slider1.jpg" alt="barber">
            <h1>Smooth Shave </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium amet libero incidunt quis
                fugiat ex at vel eaque repudiandae dolores dicta, tenetur laudantium dolore omnis aliquam
                ea labore laborum quisquam? <br>
            <p class="price"><strong>Price : 50€</strong></p>
            </p>
        </div>
    </div>

    <br>
    <br>
    <h1>Barbers</h1>
    <br>
    <div class="container">
        <div class="item2">
            <img class="barberimg" src="images/slider1.jpg" alt="barber">
            <h1>Ahmad </h1>
        </div>

        <div class="item2">
            <img src="images/slider1.jpg" alt="barber">
            <h1>Sebastien </h1>
        </div>

        <div class="item2">
            <img src="images/slider1.jpg" alt="barber">
            <h1>Alex </h1>
        </div>
    </div>

    <br>
    <br>
    <h1>Contact</h1>
    <br>
    

    <p class="PMaps">Maps</p>
    <div class="container">
        <form action="" method="POST">
            <input type="text" name="firstname" value="firstname" placeholder="first name">
            <input type="text" name="email" value="email" placeholder="email">
            <p><textarea class="commentaireTextarea" name="commentaire" cols="80" rows="10"> Message </textarea></p>
            <button class="myButton">Submit</button>
        </form>
    </div>

    <br>
    <br>
    <br>

   

    <footer>
        <div class="container">
            <div class="item1Footer">
                <h2>Opening hours</h2>
                <h2>Services</h2>
                <h2>Location</h2>
            </div>

            <div class="item2Footer">
                <h2>Social medial</h2>
                <a id="SocialMedia" href="#" class="fa fa-facebook"></a>
                <a id="SocialMedia" href="#" class="fa fa-twitter"></a>
                <a id="SocialMedia" href="#" class="fa fa-instagram"></a>
            </div>

        </div>

    </footer>

     <!-- ====================================================== -->
<div class="contact-container">
    <div class="title">
        <h1>Find us</h1>
    </div>
    <div class="mapWrapper">
        <div class="overlay" onClick="style.pointerEvents='none'"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3023.9704865667854!2d-74.0118683!3d40.7186662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1e0db46837%3A0x97328f4c4e77998f!2s199+Chambers+St%2C+New+York%2C+NY+10007!5e0!3m2!1sen!2sus!4v1414997345912" width="600" height="400" frameborder="0" style="border:0"></iframe>
    </div> <!-- end .mapWrapper-->
    <div class="info-container">
        <div class="adresse">
            <h1>Adresse</h1>
            <p>Rue Neuve 1090</p>
        </div>
        <div class="phone">
            <h1>Phone Number</h1>
            <p>0032 32 32 32</p>    
        </div>
        <div class="email">
            <h1>Email</h1>
            <p>barber@gmail.com</p>
        </div>
    </div>
</div>
</div>
    <!-- ====================================================== -->


</body>

</html>