
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {

    margin: 0;
    padding: 0;
}



/* header start */

header {

    background: url("images/homeImage.jpeg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    
}

.nav-area-container {
    padding: 40px;
}

.nav-area {
    text-align: center;
}

.nav-area li {
    text-decoration: none;
    display: inline-block;
}

.nav-area li a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.nav-area li a:hover {
    color: rgb(255, 214, 29);
}

.welcome-text {
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
}

.welcome-text .btn {
    color: black;
    letter-spacing: 2px;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    padding: 2px;
    border: none;
    background-color: rgb(255, 214, 29);
    height: 30px;
    width: 120px;
}

.welcome-text .btn:hover {
    color: rgb(146, 91, 40);
}

/******BODY*****/

h1 {
    text-align: center;
}

/*****OUR SERVICE*****/

.container {
    display: flex;
    margin-right: 7px;
}

.container .item {
    background-color: gray;
    margin-right: 25px;
    margin-left: 25px;
}

.container .item2 {
    margin-right: 25px;
    margin-left: 25px;
}

/*Img est l'enfant de div*/

div>img {
    width: 100%;
    margin-right: 20px;
    height: 50vh;
}

/*P est l'enfant de div*/

div>p {
    padding: 20px;
}

/*h1 est l'enfant de div*/

div>h1 {
    text-align: center;
}

.price {
    text-align: center;
    font-size: 30px;
}

/*****CONTACT****/

form {
    padding: 10px
}

input {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    background: rgb(245, 244, 243);
    border-radius: 4px;
    margin-left: 20px;
    width: 47vh;
}

textarea {
    background:  rgb(245, 244, 243);
    padding: 4px;
    resize: none;
    border-radius: 4px;
    margin-left: 20px;
}

/* header end */

/* ============================== */

/* about us Start */

.about-us-container {

    display: flex;
    height: 100vh;
    
}


.img-container{
    height: 80%;
    width: 50%;
    /* background-color: crimson; */
    display: flex;
    margin: auto;
    justify-content: center;
}

.img{
    background: url("images/aboutus.jpg");
    height: 100%;
    width: 80%;
    background-size: cover;
    background-position: center;

}

.abou-us-right {
    /* background-color: blue; */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-top: 40px;
    text-align: center;
}

.about-us-text h1{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
}

.abou-us-right p{
   padding: 20px;
   font-size: 14px;
}


.opening-hour {
    padding-top: 20px;
    font-size: 14px;
}

.opening-hour p{
    padding-top: 10px;
}
    
/* about us End */

/* ============================== */

/* Contact Start  */
    

.contact-container .title {
    display: flex;
    justify-content: center;
}

.mapWrapper {
    position: relative;
    /*
    Do math with the height of your iframe divided by the width, then converted to percent
    In this example the height is 400 and the width is 600
    400 / 600 = .66666667
    which is 66.6666667% */
    padding-bottom: 66.6666667%;
    height: 0;
    margin: 20px;

}
.mapWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-container {
    align-items: center;

    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.info-container {
    display: flex;
    padding: 54px;
    justify-content: space-around;
}

/* This sets an overlay element that covers the map and helps prevent people from zooming the map while scrolling. */

    
/* Contact End  */


/* Media Query Start width 375px i phone 6/7/8 */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  




  

 
@media (max-width: 600px){
    .about-us-container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    }   

    .img-container {
        height: 53%;
        width: 100%;
        align-items: center;
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .img {
        background: url(images/aboutus.jpg);
        height: 68%;
        width: 92%;
        background-size: cover;
        background-position: center;
    }

    .abou-us-right {
        width: 100%;
        display: flex;
        padding: -24px;
        padding-top: 0px;
        padding-bottom: 47px;
        flex-direction: column;
    }
    .contact-container .maps-info .maps {
        display: flex;
        margin-left: 23%;
        align-items: center;
        width: 2%;
        justify-content: center;
        height: 57%;
        padding: 20px;
    }

    .about-us-text {
        display: flex;
        flex-direction: column;
        height: 10%;
        width: 100%;
        word-wrap: break-word;
    }

    .opening-hour {
        padding-top: 29%;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .contact-container {
        align-items: center;


        width: 100%;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    .contact-container .title {
        text-align: center;
    }


  
    .info-container{
        background-color: rgb(238, 238, 238);
        padding: 64px;
        display: flex;
        align-items: center;
        font-size: 9px;
        justify-content: space-between;

    }


}

@media (max-width: 390px){
    .about-us-container{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        }  
    .abou-us-right {
        width: 100%;
        justify-content: space-around;
        display: flex;
        padding: -24px;
       
        flex-direction: column;
    }

    .opening-hour {

        padding-top: 53%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contact-container {
        align-items: center;
        width: 100%;
        padding-top: 68%;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    .info-container{
        
        
        padding: 50px;
        display: flex;
        align-items: center;
        font-size: 5px;
        justify-content: space-between;

    }
} 
    
   
     

.myButton {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.35em;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    background-color:rgb(255, 214, 29);
    box-shadow: inset 0 -0.4em 0 -0.35em rgba(66, 62, 62, 0.671);
    text-align: center;
    position: relative;
    margin-left: 20px;
    margin-top:5px; 
    
}

.myButton:active {
    top: 0.1em;
}

.PMaps {
    margin-left: 34px;
}


/****FOOTER***/

footer{
    /* border-style: solid; */
    /* background: rgb(146, 139, 139); */
    margin: 10px;
}

div > h2{
    margin: 20px;
    position: relative;
    left: 30px;
}


div > a{
    margin: 10px;
    position: relative;
    left: 30%;
}

.item2Footer{
    position: relative;
    left: 50%;
}


.fa{
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 214, 29);
}




/****MEDIA QUERY****/

@media screen and (max-width: 990px) {
    .container {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        grid-gap: 10px;
    }

    form {
        margin-left: 10%;
    }

    .commentaireTextarea{
        width:74%; 
    }

    form .myButton{
        margin-right: 45%;
        margin-top: 20px;
    }


    
    /**FOOTER**/
    footer {
        margin: 10px;
    }


.item1Footer{
        margin-left: 20%;
    }

   div .item2Footer{
        margin-right: 55%;
        position: relative;
        left:20%; 
        bottom:10px; 
    }

    #SocialMedia{
       position: relative;
       bottom:20px; 
    }
}

@media all and (max-width:30em) {
    .myButton {
        display: block;
        margin: 0.4em auto;
    }
}

